.fancy-flash-container {
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fancy-flash {
    border-radius: 4px;
}

/* FancyFlash Statuses */
.fancy-flash.info {
    border-color: #17a2b8;
    color: #17a2b8;
}

.fancy-flash.warning {
    border-color: #ffc107;
    color: #ffc107;
}

.fancy-flash.error {
    border-color: #dc3545;
    color: #dc3545;
}

.fancy-flash.success {
    border-color: #28a745;
    color: #28a745;
}

.fancy-flash.fail {
    border-color: #000000;
    color: #000000;
}


/* FancyFlash Animations. */
.fancy-flash.fadeIn {
    animation: fadeIn 0.5s ease-in-out;
}

.fancy-flash.scaleUp {
    animation: scaleUp 0.5s ease-in-out;
}

.fancy-flash.slideDown {
    animation: slideDown 0.5s ease-in-out;
}

.fancy-flash.shake {
    animation: shake 0.75s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes scaleUp {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

@keyframes slideDown {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }
}
